.joystick, .joystick__thumb {
    border-radius: 50%;
}

.joystick {
    --translateX: 0;
    --translateY: 0;
    --shadowX: 0;
    --shadowY: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px; 
    height: 80px; 

    background-color: rgba(var(--rgb-default), 0.25); 
    border: var(--color-text) solid 5px;
}

.joystick__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    height: 50%; 

    color: var(--color-primary);
    background-color: var(--color-text);
    border: var(--color-text) solid 2px;
    // box-shadow: var(--shadowX, 0) var(--shadowY, 0) 5px 0 var(--color-text);

    transform: translate(var(--translateX, 0), var(--translateY, 0));
}

.joystick__thumb i {
    transform: rotate(45deg);
}